.results-list {
    margin-left: 1rem;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 0.5rem;
    max-height: 300px;
    overflow-y: scroll;
}